JWT_TOKEN_SECRET= 128 characters secret
MONGODB_URI= mongodb connection string
ENCRYPTION_KEY= 32 character key
MAL_CLIENT_ID= client id for myanimelist api
MAL_CLIENT_SECRET= client secret for myanimelist api
FRONTEND_URL= url for backend