.stats-header {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-bottom: 4px solid #000;
}

[data-theme="dark"] .stats-header {
  color: #fff;
  border-color: #fff;
}

[data-theme="dark"] .stats-subheader {
  color: #fff;
}

.stats-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.sort-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.sort-section > .sort-buttons {
  margin-top: 10px;
}

.sort-section > .sort-buttons > span {
  margin-right: 7px;
}

[data-theme="dark"] .sort-section > .sort-buttons > span {
  color: #fff;
}

@media (max-width: 575px) {
  .sort-section > .sort-buttons > span {
    display: block;
    margin-bottom: 3px;
  }
}

.sort-section > .sort-buttons > button {
  margin-right: 5px;
}

.sort-section > .sort-buttons > button:focus {
  box-shadow: none;
}

.sort-section > .search-section {
  width: 15rem;
}

@media (max-width: 767px) {
  .sort-section > .search-section {
    width: 100%;
    margin-top: 10px;
  }
}

[data-theme="dark"] .sort-section > .search-section > input {
  background-color: #121212;
  color: #fff;
}

[data-theme="dark"] .sort-section > .search-section > input::placeholder {
  color: #fff;
}

.breadcrumb a {
  text-decoration: none;
}

.cover-images-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
