.large-cover-image,
.small-cover-image {
  margin-left: 5px;
  margin-right: 5px;
}

.small-cover-image > img,
.covers-list img.placeholder-image {
  height: 120px;
  width: 85px;
  border-radius: 5px;
}

.large-cover-image {
  display: grid;
  align-self: flex-start;
  color: #000;
  text-decoration: none;
}

.large-cover-image:hover,
.large-cover-image:focus {
  color: #000;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
}

.large-cover-image picture > img,
.large-cover-image img.placeholder-image {
  height: 200px;
  width: 140px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.large-cover-image span {
  width: 140px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
