.chart-container {
  margin-top: 30px;
  padding-bottom: 10px;
}

.chart-container > .chart-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.chart-container > .chart-container-header > h3 {
  text-decoration: underline;
  text-underline-offset: 3px;
}

[data-theme="dark"] .chart-container > .chart-container-header > h3 {
  color: #fff;
}

.chart-container > .chart-container-header > .nav {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .chart-container > .chart-container-header > h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .chart-container > .chart-container-header > .nav {
    width: 100%;
    justify-content: center;
  }
}

.chart-container > .chart {
  display: flex;
  overflow-x: scroll;
  height: 315px;
}

.chart-container > .chart.reverse {
  flex-direction: row-reverse;
}

.chart-container > .nav {
  flex-wrap: nowrap;
}
