.profile-header {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ababab;
  background-color: #f8f9fa;
}

[data-theme="dark"] .profile-header {
  background-color: #212529;
  color: #fff;
}

[data-theme="dark"] .profile-header h1,
[data-theme="dark"] .profile-header h1:hover,
[data-theme="dark"] .profile-header h1:focus {
  color: #fff;
}

.profile-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.profile-header > .container > .header-buttons {
  display: flex;
  flex-direction: column;
}

.profile-header > .container > .header-buttons > .btn {
  width: 100%;
  margin: 3px;
}

.profile-header > .container > .header-buttons > .btn > svg {
  margin-right: 3px;
}

@media (max-width: 767px) {
  .profile-header > .container > .header-buttons {
    width: 100%;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .profile-header > .container > span {
    width: 100%;
    text-align: center;
    order: 2;
  }
}

.profile-header picture > img {
  border-radius: 10px;
}

.profile-header a {
  color: #000;
}

.profile-header a:hover > h1 {
  text-decoration: underline;
  color: initial;
}

.profile-header h1 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.profile-header h1 > svg {
  font-size: 0.4em;
  vertical-align: middle;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .profile-header picture > img {
    width: 75px;
  }

  .profile-header h1 {
    font-size: 2em;
    margin-left: 10px;
    word-break: break-all;
    margin-top: 10px;
  }

  .profile-header > .container > span {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .profile-header picture > img {
    width: 70px;
  }

  .profile-header h1 {
    font-size: 2em;
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .profile-header picture > img {
    width: 80px;
  }

  .profile-header h1 {
    font-size: 2.5em;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .profile-header picture > img {
    width: 100px;
  }

  .profile-header h1 {
    font-size: 2.8em;
    margin-left: 20px;
  }
}

.profile-header > .stats-generated-time {
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
