.homepage > .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3em;
}

.homepage > .container > h1 {
  font-size: 3.5em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
