footer {
  padding: 25px 20px;
  margin-top: 30px;
  border-top: 1px solid #ababab;
  font-size: 18px;
  background-color: #f8f9fa;
}

[data-theme="dark"] footer {
  background-color: #212529;
  color: #fff;
}

footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer > .container > .footer-section > span {
  margin-left: 10px;
  margin-right: 10px;
}

footer > .container > .footer-section > span.footer-delete:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  footer > .container {
    flex-direction: column;
  }

  footer > .container > .footer-section {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
